.local.env
.env
.env.*
!.env.exmple
logs
node_modules
test*.ts
*.py
.idea
.vscode
.DS_Store
package-lock.json
yarn-error.log
yarn.lock
yarn-error.logsyarn.lock
todo.txt
ecosystem.config.js
.VSCodeCounter
temp
dist
out
web
